bcrypt==3.1.7             # Library for password hashing using the bcrypt algorithm
Click==7.0                # A Python package for creating command-line interfaces
colorama==0.4.3           # Provides color and formatting for terminal output
cryptography==2.8         # Python library for cryptographic recipes and primitives
cycler==0.10.0            # Utility to cycle through color and marker schemes (used in matplotlib)
decorator==4.4.2          # Simplifies the creation of decorators for wrapping functions
fasteners==0.14.1         # Provides useful locks and synchronization primitives
future==0.18.2            # Compatibility layer for Python 2 and 3
graphsurgeon==0.4.6       # TensorRT-related utility for manipulating ONNX graphs
idna==2.8                 # Internationalized Domain Names (IDN) handling in Python
jetson-stats==4.2.9       # Monitor and manage NVIDIA Jetson devices (performance, stats)
Jetson.GPIO==2.1.1        # GPIO library for interacting with hardware on Jetson devices
kiwisolver==1.0.1         # Mathematical solver for constraints (used by matplotlib)
matplotlib==3.1.2         # Popular plotting and data visualization library
numpy==1.24.4             # Fundamental package for numerical computations and array handling
onnx==1.16.2              # Open Neural Network Exchange format for machine learning models
onnx-graphsurgeon==0.3.12 # Tool for manipulating ONNX graphs (used with TensorRT)
opencv-python==4.10.0.84  # OpenCV bindings for Python, used for computer vision tasks
paho-mqtt==2.1.0          # Client library for the MQTT protocol for messaging
pandas==0.25.3            # Data analysis and manipulation library (handling tabular data)
paramiko==2.6.0           # Python implementation of SSHv2 protocol, used for remote communication
pillow==10.4.0            # Python Imaging Library, used for opening, manipulating, and saving images
platformdirs==4.3.2       # Helper for determining platform-specific directories (config, cache)
protobuf==5.28.1          # Google's data serialization format for structured data (protobuf)
pycuda==2024.1.2          # Python bindings for CUDA to run code on NVIDIA GPUs
pytools==2024.1.14        # Collection of tools for PyCUDA, includes helpers for GPU programming
PyYAML==6.0.2             # YAML parser and emitter for Python
requests==2.22.0          # HTTP library for sending HTTP/1.1 requests
scipy==1.3.3              # Scientific computing library built on NumPy (used for math, statistics)
simplejson==3.16.0        # JSON encoder/decoder for handling JSON data in Python
smbus2==0.4.3             # Python bindings for SMBus, used for communication with I2C devices
typing-extensions==4.12.2 # Provides backported and experimental type hints for Python
uff==0.6.9                # Universal Framework Format, used in TensorRT for model conversion
urllib3==1.25.8           # Powerful HTTP library for handling URLs and connections
